<!-- PARTIAL OF NAV -->
{{> nav}}
<!-- Error Body -->
<div class="container">
	<p class="text-center">
		<img src="images/grumpy.jpeg" class="rounded-circle w-25" alt="..." />
	</p>
	<div class="alert alert-danger" role="alert">
		{{message}}
	</div>
	<p class="small">{{error.stack}}
</p>
</div>
