
<!-- NAVIGATION -->
<nav class="logIn">
	<div class="container text-center py-3">
		<div class="row">
			<!-- COLUMA 1 NAV - LOGO -->
			<div class="col" align="left">
				<a class="navbar-brand" href="/houses">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399114/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/logo-airbnb.png"
						alt=""
						height="50px"
					/>
				</a>
			</div>
			<!-- END OF COL 1 - LOGO -->
			<!-- COL 2 NAV - PROFILE AND LOG IN -->
			<div class="col" align="right">
				<!-- PROFILE LINK -->
				<a class="btn btn-outline-secondary">
					PROFILE
				</a>
				<!-- LOGIN BUTTON -->
				<a class="btn btn-outline-secondary">
					LOG IN
				</a>
			</div>
		</div>
	</div>
</nav>
<!-- END OF NAVIGATION -->
<div class="container">
	<p class="text-center">
		<img src="images/grumpy.jpeg" class="rounded-circle w-25" alt="..." />
	</p>
	<div class="alert alert-danger" role="alert">
		{{message}}
	</div>
	<p class="small">{{error.stack}}
</p>
</div>
