<!-- NAVIGATION -->
<nav class="logIn">
	<div class="container text-center py-3">
		<div class="row">
			<!-- COLUMA 1 NAV - LOGO -->
			<div class="col" align="left">
				<a class="navbar-brand" href="/houses">
					<img
						src="/images/logo-airbnb.png"
						alt=""
						height="50px"
					/>
				</a>
			</div>
			<!-- END OF COL 1 - LOGO -->
			<!-- COL 2 NAV - PROFILE AND LOG IN -->
			<div class="col" align="right">
				<!-- PROFILE LINK -->
				<a class="btn btn-outline-secondary">
					PROFILE
				</a>
				<!-- LOGIN BUTTON -->
				<a class="btn btn-outline-secondary">
					LOG IN
				</a>
			</div>
		</div>
	</div>
</nav>
<!-- END OF NAVIGATION -->
<!-- CONTAINER OF PROFILE INFORMATION WITH COLUMN SEPARATION -->
<div class="container mt-3">
	<div class="row">
		<!-- Columna 1 PERFIL -->
		<div class="col-3">
			<p class="h1 border-bottom mb-3">Profile</p>
			<form>
				<label class="form-label">Full Name</label>
				<input
					type="text"
					class="form-control mb-2"
					value="Tony Russo"
					name="fullname"
				/>
				<label class="form-label">Email</label>
				<input
					type="email"
					class="form-control mb-2"
					value="tortuga@coders.com"
					name="fullname"
				/>
				<label class="form-label">Profile Picture</label>

				<p>
					<img
						src="https://randomuser.me/api/portraits/men/11.jpg"
						class="rounded-circle w-25"
						alt="..."
					/>
				</p>

				<input
					type="email"
					class="form-control mb-2"
					value="photo-address"
					name="email"
				/>
				<button class="btn btn-success">Save Changes</button>
			</form>
		</div>
		<!-- Column 2 LISTINGS -->
		<div class="col-7 offset-1">
			<p class="h1 border-bottom mb-3">My Listings</p>
			<a class="btn btn-success mb-3">List a house</a>
			<div class="alert alert-light border" role="alert">
				A simple light alert—check it out!
			</div>
		</div>
	</div>
</div>
