<!-- PARTIAL OF NAV -->
{{> nav}}
<!-- CONTAINER OF PROFILE INFORMATION WITH COLUMN SEPARATION -->
<div class="container mt-3">
	<div class="row">
		<!-- Columna 1 PERFIL -->
		<div class="col-3">
			<p class="h1 border-bottom mb-3">Profile</p>
			<form>
				<label class="form-label">Full Name</label>
				<input
					type="text"
					class="form-control mb-2"
					value="{{user.name}}"
					name="fullname"
				/>
				<label class="form-label">Email</label>
				<input
					type="email"
					class="form-control mb-2"
					value="{{user.email}}"
					name="fullname"
				/>
				<label class="form-label">Profile Picture</label>

				<p>
					<img
						src="{{user.avatar}}"
						class="rounded-circle w-25"
						alt="..."
					/>
				</p>

				<input
					type="email"
					class="form-control mb-2"
					value="{{user.avatar}}"
					name="email"
				/>
				<button class="btn btn-success">Save Changes</button>
			</form>
		</div>
		<!-- Column 2 LISTINGS -->
		<div class="col-7 offset-1">
			<p class="h1 border-bottom mb-3">My Listings</p>
			<a class="btn btn-success mb-3" href="/houses/create">List a house</a>
			<div class="alert alert-light border" role="alert"> You have no properties listed</div>
		</div>
	</div>
</div>
