<div class="thaiBack">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col mx-auto my-auto">
				<div class="card mx-auto" style="width: 40rem;">
					<div class="text-center pt-4">
						<img
							width="100"
							src="/images/logo-airbnb.png"
							alt=""
							class="my-2"
						/>
					</div>
					<div class="card-body">
						<form action="/auth/signup" method='post'>
							<label class="form-label">Your Full Name</label>
							<div class="input-group mb-3">
								<input type="text" class="form-control" name="name" />
							</div>
							<label class="form-label">Profile Picture</label>
							<div class="input-group mb-3">
								<input
									type="text"
									class="form-control"
									name="profilePictureURL"
									placeholder="http://..."
								/>
							</div>
							<label class="form-label">Email</label>
							<div class="input-group mb-3">
								<input type="email" class="form-control" name="email" />
							</div>
							<label class="form-label">Password</label>
							<div class="input-group mb-3">
								<input type="text" class="form-control" name="password" />
							</div>
							<button class="btn btn-success">Signup</button>
						</form>
						<p class="small py-2">
							Already have an account? <a class="card-link" href="/auth">Login</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
