<!-- PARTIAL OF NAV -->
{{> nav}}
<!-- SECTION PICTURES OF THE HOUSE - CONTAINER DIVIDED IN TWO COLUMNS. 2ND COLUMN HAS A CONTAINER WITH A 3 COLUMN GRID (9 PICTURES TOTAL) -->
<div class="container border border-light">
	<div class="row">
		<!-- MAIN PICTURE OF THE HOUSE CELL -->
		<div class="col p-0">
			<img
				src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png
"
				class="img-fluid"
				alt="..."
			/>
		</div>
		<!-- GRID OF PICTURES OF THE HOUSE -->
		<div class="col">
			<div class="container py-3">
				<div class="row row-cols-3">
					<!-- PICTURES - COLUMNS OF PICTURES -->
					<div class="col">
						<img
							src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png

						"
							class="img-fluid"
							alt="..."
						/>
					</div>
					<div class="col">
						<img
							src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png

						"
							class="img-fluid"
							alt="..."
						/>
					</div>
					<div class="col">
						<img
							src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png

						"
							class="img-fluid"
							alt="..."
						/>
					</div>
					<div class="col">
						<img
							src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png

						"
							class="img-fluid"
							alt="..."
						/>
					</div>
					<div class="col">
						<img
							src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png

						"
							class="img-fluid"
							alt="..."
						/>
					</div>
					<div class="col">
						<img
							src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png

						"
							class="img-fluid"
							alt="..."
						/>
					</div>
					<div class="col">
						<img
							src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png

						"
							class="img-fluid"
							alt="..."
						/>
					</div>
					<div class="col">
						<img
							src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png

						"
							class="img-fluid"
							alt="..."
						/>
					</div>
				</div>
			</div>
		</div>
		<!-- END GRID OF PICTURES OF THE HOUSE -->
	</div>
</div>
<!-- END OF PICTURES section -->
<!-- DESCRIPTION AND PRICE CARD (2 colmns, 1st column 2 rows) -->
<div class="container border border-light">
	<div class="row">
		<div class="col">
			<!-- Description of the property -->
			<div class="row">
				<h1>New villa in Koh Phangan</h1>
				<small>Koh Samui - 4 Rooms</small>
				<div class="row">
					<div class="col">foto</div>
					<div class="col">Nombre</div>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting
					industry. Lorem Ipsum has been the industry's standard dummy text
					ever since the 1500s, when an unknown printer took a galley of
					type and scrambled it to make a type specimen book. It has
					survived not only five centuries, but also the leap into
					electronic typesetting, remaining essentially unchanged. It was
					popularised in the 1960s with the release of Letraset sheets
					containing Lorem Ipsum passages, and more recently with desktop
					publishing software like Aldus PageMaker including versions of
					Lorem Ipsum.
				</p>
			</div>
			<div class="row">review</div>
		</div>
		<div class="col py-5">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">
						Some quick example text to build on the card title and make up
						the bulk of the card's content.
					</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>
</div>
